@import 'primereact/resources/themes/saga-blue/theme.css';  /* Tema */
@import 'primereact/resources/primereact.min.css';          /* CSS inti PrimeReact */
@import 'primeicons/primeicons.css';                        /* Ikon PrimeReact */
@tailwind components;
@tailwind utilities;
*{
    margin:0;
}
.custom-rating .p-rating-icon {
    color: #FFD700; /* Change to your desired color */
}

.custom-rating .p-rating-icon.p-rating-icon-star.p-highlight {
    color: #FF6347; /* Change to your desired highlight color */
}
.p-toast-message-icon {
    margin-right: 0.5rem; /* Adjust the gap as needed */
    margin-top:auto;
    margin-bottom:auto;
}
.p-card-content{
    padding:0 !important;
}
.p-icon-field > .p-input-icon{
    position: absolute;
    top: 30%;
}
