@import 'primereact/resources/themes/saga-blue/theme.css';  /* Tema */
@import 'primereact/resources/primereact.min.css';          /* CSS inti PrimeReact */
@import 'primeicons/primeicons.css';                        /* Ikon PrimeReact */
@tailwind components;
@tailwind utilities;
*{
    margin:0;
}
.custom-rating .p-rating-icon {
    color: #FFD700; /* Change to your desired color */
}

.custom-rating .p-rating-icon.p-rating-icon-star.p-highlight {
    color: #FF6347; /* Change to your desired highlight color */
}
